:root {
    --light-grey: #E5DCC3;
    --grey: #C7BEA2;
    --dark-grey: #AAA492;
    --black: #000000;
    --main-font: 'Edu QLD Beginner', cursive;
  }
.nav-link{
    font-family: var(--main-font);
    margin-left: 25px;
    font-weight: bold !important;
    font-size: 20px !important;
    color: var(--black)!important;
}
.nav-link:hover{
    color: var(--grey)!important;
}
.header{
    width: 100%;
}
.background-image{
    background: rgb(76,76,78);
    background: linear-gradient(90deg, rgba(76,76,78,1) 0%, rgba(126,124,133,1) 28%, rgba(170,167,161,1) 100%);
    width: 100%;
    height: 250px;
}
.personal-image{
    border: solid black 1px;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    position: relative;
    top: -240px;
    left: 40%;
}
.jumbotron-custom, .jumbotron-custom-right{
        /*start of temp styles
        border: solid black 1px;
        end of temp styles*/
    background-color: var(--light-grey);
    border-radius: 7px;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    position: relative;
    top: -220px;
    width: 80%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.about-image-left{
    height: 275px;
    border-radius: 7px;
}
.about-me{
    font-family: var(--main-font);
    font-size: 22px;
    text-align: center;
    margin-left: 11px;
    margin-right: 11px;
    padding-top: 40px;
}
.footer{
    background-color: #FFFFFF;
}
.footer-container{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    margin-top: -220px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}
.social-media{
    display: flex;
    flex-direction: row;
    list-style: none;
}
.icon{
    height: 35px;
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
}
.contact-info{
    list-style: none;
    text-align: center;
}
.c-info{
    margin-top: 5px;
    margin-bottom: -5px;
    font-family: var(--main-font);
}